.sidebar-items{
    display: flex;
    flex-direction: column;
    // margin-left: 20px;
}
.sidebar-items a{
    text-decoration: none;
 }
.sidebar-items a:hover{
   background-color: white;
   color:black ;
   width: 100%;
}
.sett-dropdown{
   text-decoration: none;
   border: none;
}
// .mbtn:hover {
//  background-color: white;
//  width: 100%;
// }
.dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   color: skyblue;
   min-width: 218px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   padding: 0px 19px;
   z-index: 1;
   height: 100px;
   border-radius: 15px;
 }
 
 .dropdown.active .dropdown-content {
   display: block;
 }
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 .dropdown-content a:hover {
   background-color: white;
   color: black;

 }
//  .sidebar-items .mbtn:hover{
//   background-color: white;
//   width: 100%;
//  }
 .dropdown a:hover{
  width: 100%;
  background-color: white;
  color: black;
  display: inline-block;
 }
 a{
  color: white;
 }